<form id="newpost">
    <div class="input-group mb-3">
        <span class="input-group-text">Name</span>
        <input type="text" name="name" aria-label="name" class="form-control">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Post Title</span>
        <input type="text" name="post-title" aria-label="post title" class="form-control">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Post Content</span>
        <textarea type="text" name="content" aria-label="post content" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-secondary">Submit</button>
</form>

<script src='../js/new-post.js'></script>
