<div class="container">
    <h2>Register</h2>
    <form id="register">
        <div class="input-group mb-3">
            <span class="input-group-text">Name</span>
            <input type="text" name="name" aria-label="name" class="form-control">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Email</span>
            <input type="text" name="email" aria-label="post title" class="form-control">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Password</span>
            <input type="text" name="password" aria-label="post content" class="form-control">
        </div>
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </form>
</div>

<script src="../js/register.js"></script>
